.auth {
	color: $white;
	display: flex;
	flex-flow: column;
	align-items: center;
	background: linear-gradient($purple, $light-purple);
	border-radius: 6%;
	padding: 2em;

	&-heading {
		margin-bottom: 2em;
	}

	&-form {
		display: flex;
		flex-flow: column;
		gap: 1em;
		margin-bottom: 2em;

		&-row {
			input {
				width: 85%;
				height: 2.5em;
				border-radius: 23px;
				padding-left: 1em;
				border: 0px solid;
			}
		}
	}

	p {
		margin-top: 0.5em;
		color: $red;
	}

	button {
		color: $white;
		border: 0px solid;
		border-radius: 15px;
		font-size: 20px;
		padding: 0.5em 1em;
		background: $red;
		font-weight: bold;
		transition: 0.5s;

		&:hover {
			color: $red;
			background: $white;
			transition: 0.5s;
		}
	}

	h3 {
		margin-top: 1em;
		span {
			color: $red;
		}
	}
}
